@font-face
{
	font-family: "Nunito";
	src: url("Nunito-Regular.ttf");
}
	
body
{
	background: #f8f8f8;
	display: inline-block;
	font-family: "Nunito";
	font-size: 16px;
	padding: 0.4em;
	width: 100%;
}
header
{
	background: #D6D6D6;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 2px 2px 10px;
	height: 7em;
	width: 98%;
}
footer
{
	background: none;
	height: 2em;
	text-align: right;
}

.inputForm
{
	margin: 0.8em 0 0.8em 0;
	padding: 0.4em 0.6em 0.4em 0.6em;
	width: 35%;
	border-color: black;
	background-color: white;
}
.labelForm
{
	float: left; 
	clear: right;
	margin: 0.4em 1.2em 0.4em 0;
	text-align: right;    
	width: 35%;
}
#imgHeader
{
	height: 3.5em;
	width:auto;
}
#MainMenu
{
	width: 18%;
	/*border-style: solid solid none solid;*/
	border-color: #94AA74;
	border-size: 1px;
	border-width: 1px;
	margin: 0.25em 0.2em 0.2em 0em;
}
#MainMenu li a 
{
	
	background: #c0c0c0;
	color: #3b3b3b;
  	height: 2em;
  	display: inline;
	text-decoration: none;
}	
#MainMenu li a:link, #MainMenu li a:visited
{
	display: block;
	padding: 8px 0 0 10px;
}

#MainMenu li a:hover {
	color: white;
	background: #0274b0;
	/*padding: 8px 0 0 10px;*/
}
	
#SelectedSection
{
	display: inline-block; 
     
    border-left: 20px solid transparent; 
    border-top: 40px solid white;   
    -webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;

    height: 10em;
    padding: 0px;
    line-height: 10%; 
    
	position: absolute;
	top: 4.74em;
	left: 21.5em;
	
	width: 40%;
}
#SelectedSection h4
{
		position: absolute;
		top: -2em;
		left: 1em;
}

#WelcomeMessage 
{ 
        font-weight: bold; 
        display: inline-block; 
     
        border-right: 30px solid transparent; 
        border-bottom: 60px solid #4c4c4c;   
     
        padding: 0 0 0.2em 0.3em;
        height: 0; 
        line-height: 50px; 
        width: 20em;
        
}
#WelcomeMessage h5
{
	color: white; 
}
.Seccion
{
	left: 19.5%;
	padding: 1em;
	position: absolute;
	top: 8.5em;
	width: 76.5%;
	background: white;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
}
.Seccion_SinMenu
{
	left: 3.2em;
	position: absolute;
	top: 8.5em;
	width: 95%;
	background: white;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
}
/*	background: PaleGoldenRod ;*/
	
#MyAccount_Options_CreatingUsers
#AccessData_Message, 
#alertEstadoLogin, 
#CompanyData, 
#CompanyData_Edit,
#CreatingUsers_Create,
#MyUsers_Delete, 
#MyUsers_DeleteAlert, 
#MyUsers_DeleteUser, 
#MyUsersEdit_CompanyData, 
#MyUsersEdit_Message, 
#MyUsers_Edit, 
#MyUsers_Edit_Confirm, 
#MyAccount_Options_CreatingUsers,
#MyAccount_Options_Permissions_Delete, 
#MyUsersEdit_Permissions,  
#PersonalInformation_Message,
#Users,
#tableDeleteMyUsers,
#MyUsers_Edit_Key,
#Users_Message,
#lnkOcultarMenu,
#MyUsersEdit_Message_Key,
#frmInpeccion_Preguntas,
#Inspeccion,
#DatosVehiculo,
#divDatosVehiculo,
#Inspeccion_Preguntas,
#Inspeccion_Evaluar,
#radioset_Empresas_Zonas,
#radioset_Multa_Zona,
#Multa,
#Vehiculos,
#Vehiculo_DatosVehiculo,
#cntVehiculo_Datos,
#rdbV_TipoInspeccion_Hallazgo, 
#rdbV_TipoInspeccion_Inmovilizar,
#Seguridad,
#Seguridad_Datos_Velocidad,
#rdbS_TipoInspeccion_Hallazgo,
#Seguridad_Datos_Alcoholimetria,
#cntTestAutomatica,
#Hallazgos

{
	display: none;
}
#MyUsers_InfoUser
{
	border-radius: 0.6em;
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
	margin: 2em;
	padding: 2em;
	width: 90%;
}
#MyUsers_InfoUser li
{
	display: block;
	margin: 0 0 0 3em;
}
#MyUsers_InfoUser #MyUsers_InfoUser_Botones
{
	display: block;
	position: absolute;
	left: 4em;
	bottom: 3em;
	width: 4em;
}
#tableMyUsers td
{
	cursor: pointer;
}
.password {
	font-size : 12px;
	border : 1px solid #cc9933;
	/*width : 200px;*/
	font-family : arial, sans-serif;
}
.pstrength-minchar {
	font-size : 10px;
}

#MyAccount_Options_MyUsers
{
	margin: 1em;
}

.btnInspeccion
{
	background: #3399CC;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 2px 2px 10px;
	height: 3em;
	margin: 1em;
	padding: 0.4em;
	text-align: center;
	width: 10em;	
}
.btnInspeccion:hover
{
	background-color: peru;
	cursor: pointer;
}
#radioset_Empresas
{
	padding: 1em;
	display: none;
}
.Inspeccion_Evaluar
{
	background: #6699FF;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 2px 2px 10px;
	display : inline-block;
	height: 2em;
	margin: 1em;
	padding: 0.4em;
	width: 25%;
	vertical-align: top;
}
#Inspeccion_resultado
{
	margin: 2em;
}
#ConteoResultado article
{
	width : 25%;
}
#SubirArchivos
{
	border: none;
	width: 90%;
	overflow: auto;
}

@media screen and (max-width: 800px) 
{
	#imgHeader
	{height: auto;width: 40%;}

	#SelectedSection
	{
		background: blue;
		display: inline-block; 
	     
	    border: none; 

	    height: 2em;
	    padding: 0px;
	    line-height: 10%; 
	    margin: 0 0 1em 0;
	    
		position: absolute;
		top: 6.4em;
		left: 0em;
		vertical-align: top;
		width: 100%;
	}
	#SelectedSection h4
	{
		background: white;
		color: black;
		padding: 0;
		position: static;
		left: 0;
		margin: 0 0 1em 0;
		
		text-align: center;
	}

	#WelcomeMessage 
	{ 
	        font-weight: bold; 
	        display: block; 
	     
	        border: none; 
	     	padding: 0;
	     	margin: 0;
	        height: 0; 
	        line-height: 50px; 
	        width: 100%;
	}
	#WelcomeMessage h5
	{
		background: #4c4c4c;
		color: white; 
	}

	.Seccion
	{
		right: 0;
		padding: 1em;
		top: 9.7em;
		width: 74%;
	}
	.Seccion_SinMenu
	{
		top: 9.7em;
		width: 95%;
	}
	#lnkOcultarMenu
	{
		display: inline-block;
		background: url('imagenes/Menu-Callout.png')  no-repeat 50%, white;
		float: left;
		height: 2em;
		margin: 0;
		width: 2em;
	}
	#MainMenu
	{
		display: none;
		min-width: 80%;
	}
	.Seccion
	{
		left: 90%;
		width: 100%;
	}
	.Seccion_SinMenu
	{
		left: 1%;
		width: 100%;
	}
}

